<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erdees.cakeorderingapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="com.erdees.cakeorderingapp.MainActivity"
            android:theme="@style/Theme.CakeOrderingApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.erdees.cakeorderingapp.LoginActivity"
            android:theme="@style/Theme.CakeOrderingApp">
        </activity>
        <activity
            android:name="com.erdees.cakeorderingapp.MailLoginActivity"
            android:theme="@style/Theme.CakeOrderingApp" />
        <activity
            android:name="com.erdees.cakeorderingapp.SignUpActivity"
            android:theme="@style/Theme.CakeOrderingApp" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
/>
    </application>

</manifest>